body {
	font-family: 'Inter';
	position: relative;
	width: 1349px;
	height: 980px;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}

header {
	position: absolute;
	width: 1349px;
	height: 55px;
	left: 0px;
	top: 0px;

	background: #2C365E;
}

ul.elements {
	display: flex;
	justify-content: flex-end;
}

ul.elements li {
	margin-right: 10px;
	list-style: none;
}

a {
	color: #000000;
}

h1 {
	box-sizing: border-box;
	position: absolute;
	width: 540px;
	height: 58px;
	left: 403px;
	top: 67px;

	background: #D9D9D9;
	border: 1px solid #000000;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

article {
	position: absolute;
	width: 967px;
	height: 785px;
	left: 191px;
	top: 177px;

	background: #D9D9D9;
	border-radius: 20px;
}

label {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #000000;
}

input, textarea {
	width: 350px;
	height: 40px;
	left: 0px;
	top: 24px;
	box-sizing: border-box;
	background: #FCEFEF;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

input:hover, .inputModified:hover{
	background-color: #C6C6C6;
	cursor: pointer;
}

.inputModified {
	width: 350px;
	height: 80px;
}

select {
	background: #D9D9D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	text-align: center;
	font-size: 20px;
}

select:hover {
	background-color: #C6C6C6;
	cursor: pointer;
}

label.setor {
	position: absolute;
	width: 51px;
	height: 64px;
	left: 206px;
	top: 63px;
}

label.unidade {
	position: absolute;
	width: 80px;
	height: 64px;
	left: 680px;
	top: 63px;
}

label.horarios {
	position: absolute;
	width: 81px;
	height: 110px;
	left: 191px;
	top: 191px;
}

label.requisitos {
	position: absolute;
	width: 133px;
	height: 110px;
	left: 654px;
	top: 191px;
}

label.instituicao {
	position: absolute;
	width: 98px;
	height: 64px;
	left: 434px;
	top: 485px;
}

label.disciplina {
	position: absolute;
	width: 91px;
	height: 64px;
	left: 437px;
	top: 615px;
}

input.button {
	box-sizing: border-box;

	position: absolute;
	width: 162px;
	height: 45px;
	left: 402px;
	top: 729px;

	background: #D9D9D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-size: 18px;
}

input.button:hover {
	background-color: #C6C6C6;
	cursor: pointer;
}

select.tipo {
	box-sizing: border-box;
	position: absolute;
	width: 250px;
	height: 40px;
	left: 115px;
	top: 382px;
}

select.nivel {
	box-sizing: border-box;
	position: absolute;
	width: 200px;
	height: 40px;
	left: 620px;
	top: 382px;
}