body {
	position: relative;
	width: 1349px;
	height: 695px;
	margin: 0;
	padding: 0;

	background: linear-gradient(180deg, #2C365E 0%, #D9D9D9 100%);
}

div#container {
	position: absolute;
	width: 700px;
	height: 524px;
	left: 324px;
	top: 85px;

	background: #F0ECEC;
	border-radius: 30px;
}

div#container h3 {
	position: absolute;
	width: 609px;
	height: 41px;
	left: 46px;
	top: 56px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 34px;
	line-height: 41px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;
}

div#container h4 {
	position: absolute;
	width: 255px;
	height: 39px;
	left: 223px;
	top: 152px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;

	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: 22px;

	color: #000000;
}

input#buttonPF {

	box-sizing: border-box;

	position: absolute;
	width: 195px;
	height: 55px;
	left: 252px;
	top: 252px;

	background: #DCE0D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

}

input#buttonPJ {

	box-sizing: border-box;

	position: absolute;
	width: 195px;
	height: 55px;
	left: 252px;
	top: 368px;

	background: #DCE0D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	}

div#container a {
	position: absolute;
	width: 56px;
	height: 24px;
	left: 323px;
	top: 484px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	text-decoration-line: underline;

	color: #000000;
}