body {
	position: relative;
	width: 1349px;
	height: 1238px;
	font-family: 'Inter';
	background: linear-gradient(180deg, #2C365E 0%, #484D6D 52.08%, #F0ECEC 100%);
}

h1 {
	position: absolute;
	width: 540px;
	height: 58px;
	left: 404px;
	top: 54px;

	background: #D9D9D9;
	border-radius: 20px;

	position: absolute;
	width: 500px;
	height: 48px;
	left: 424px;
	top: 55px;

	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

select {
	box-sizing: border-box;

	position: absolute;
	width: 260px;
	height: 40px;
	left: 537px;
	top: 200px;

	background: #D9D9D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

input {
	font-size: 16px;
}

p.nome {
	position: absolute;
	width: 175px;
	height: 24px;
	left: 239px;
	top: 312px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.nome {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 241px;
	top: 345px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 12px;
}

p.cidade {
	position: absolute;
	width: 83px;
	height: 24px;
	left: 706px;
	top: 312px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.cidade {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 706px;
	top: 345px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 12px;
}

p.cpf {
	position: absolute;
	width: 55px;
	height: 24px;
	left: 241px;
	top: 423px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.cpf {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 241px;
	top: 439px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 26px;
}

p.endereco {
	position: absolute;
	width: 106px;
	height: 24px;
	left: 707px;
	top: 423px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.endereco {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 707px;
	top: 439px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 26px;
}

p.rg {
	position: absolute;
	width: 44px;
	height: 24px;
	left: 241px;
	top: 517px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.rg {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 241px;
	top: 541px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 18px;
}

p.uf {
	position: absolute;
	width: 43px;
	height: 24px;
	left: 708px;
	top: 517px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.uf {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 708px;
	top: 542px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 18px;
}

p.email {
	position: absolute;
	width: 75px;
	height: 24px;
	left: 242px;
	top: 630px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.email {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 242px;
	top: 648px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 26px;
}

p.cep {
	position: absolute;
	width: 55px;
	height: 24px;
	left: 710px;
	top: 631px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.cep {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 708px;
	top: 649px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 26px;
}

p.tCelular {
	position: absolute;
	width: 169px;
	height: 24px;
	left: 242px;
	top: 741px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.tCelular {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 242px;
	top: 755px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 28px;
}

p.tFixo {
	position: absolute;
	width: 126px;
	height: 24px;
	left: 710px;
	top: 742px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.tFixo {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 710px;
	top: 756px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 28px;
}

p.linkedin {
	position: absolute;
	width: 79px;
	height: 24px;
	left: 241px;
	top: 852px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.linkedin {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 241px;
	top: 862px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 32px;
}

p.curriculo {
	position: absolute;
	width: 150px;
	height: 24px;
	left: 708px;
	top: 853px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #000000;
}

input.curriculo {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 708px;
	top: 863px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 32px;
}

p.senha {
	position: absolute;
	width: 280px;
	height: 24px;
	left: 544px;
	top: 954px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

input.senha {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 475px;
	top: 978px;

	background: #D9D9D9;
	border-radius: 20px;
	margin-top: 22px;
	text-align: center;
}

p.obs {
	position: absolute;
	width: 410px;
	height: 22px;
	left: 469px;
	top: 1085px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 0;

	color: #000000;
}

input.envio {
	box-sizing: border-box;
	position: absolute;
	width: 162px;
	height: 45px;
	left: 606px;
	top: 1130px;

	background: #DCE0D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;
}