body {
	position: relative;
	width: 1349px;
	height: 1238px;
	font-family: 'Inter';
	background: linear-gradient(180deg, #2C365E 0%, #484D6D 52.08%, #F0ECEC 100%);
}

h1 {
	position: absolute;
	width: 560px;
	height: 58px;
	left: 404px;
	top: 54px;

	background: #D9D9D9;
	border-radius: 20px;

	position: absolute;
	width: 540px;
	height: 48px;
	left: 424px;
	top: 55px;

	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

select {
	box-sizing: border-box;

	position: absolute;
	width: 260px;
	height: 40px;
	left: 537px;
	top: 200px;

	background: #D9D9D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

label {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #000000;
}

input {
	font-size: 16px;
	background: #D9D9D9;
	border-radius: 20px;
}

label.nome {
	position: absolute;
	width: 175px;
	height: 24px;
	left: 239px;
	top: 312px;
}

input.nome {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.cidade {
	position: absolute;
	width: 83px;
	height: 24px;
	left: 706px;
	top: 312px;
}

input.cidade {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.cpf {
	position: absolute;
	width: 55px;
	height: 24px;
	left: 241px;
	top: 423px;
}

input.cpf {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.endereco {
	position: absolute;
	width: 106px;
	height: 24px;
	left: 707px;
	top: 423px;
}

input.endereco {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.rg {
	position: absolute;
	width: 44px;
	height: 24px;
	left: 241px;
	top: 517px;
}

input.rg {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.uf {
	position: absolute;
	width: 43px;
	height: 24px;
	left: 708px;
	top: 517px;
}

input.uf {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.email {
	position: absolute;
	width: 75px;
	height: 24px;
	left: 242px;
	top: 630px;
}

input.email {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.cep {
	position: absolute;
	width: 55px;
	height: 24px;
	left: 710px;
	top: 631px;
}

input.cep {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.tCelular {
	position: absolute;
	width: 169px;
	height: 24px;
	left: 242px;
	top: 741px;
}

input.tCelular {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.tFixo {
	position: absolute;
	width: 126px;
	height: 24px;
	left: 710px;
	top: 742px;
}

input.tFixo {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.linkedin {
	position: absolute;
	width: 79px;
	height: 24px;
	left: 241px;
	top: 852px;
}

input.linkedin {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.curriculo {
	position: absolute;
	width: 150px;
	height: 24px;
	left: 708px;
	top: 853px;
}

input.curriculo {
	position: absolute;
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
}

label.senha {
	position: absolute;
	width: 280px;
	height: 74px;
	left: 544px;
	top: 954px;
	flex-direction: column;
}

input.senha {
	width: 400px;
	height: 40px;
	left: 0;
	top: 24px;
	text-align: center;
}

p.obs {
	position: absolute;
	width: 410px;
	height: 22px;
	left: 469px;
	top: 1075px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 0;
	color: #000000;
}

input.envio {
	box-sizing: border-box;
	position: absolute;
	width: 162px;
	height: 45px;
	left: 606px;
	top: 1130px;

	background: #DCE0D9;
	border: 1px solid #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;
}